* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  &.scroll-hiden {
    height: 100vh;
    overflow: hidden;
  }
}
:root {
  --main-font: "TRY Clother", 'Open Sans' , sans-serif;
  --main-color-text: #252424;
  --main-color-hover-text: #DF4826;
  --second-color-text: #BEBBB9;
}
@font-face {
  font-family: "TRY Clother";
  src: url("../public/fonts/TRYClother-Bold.eot");
  src: local("TRYClother-Bold"),
    url("../public/fonts/TRYClother-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TRY Clother";
  src: url("../public/fonts/TRYClother-Regular.eot");
  src: local("TRYClother-Regular"), 
   url("../public/fonts/TRYClother-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

